In [ ]:
# BASIC SET UP
# Read the data from the flat file
# Store the data to the dataframe
# Set up data connection to the SQLite database
# Set up a databse table to store the data from the
# Run the SQL script
# Output the result set to a flat file

In [12]:
import pandas as pd
import sqlite3

df = pd.read_csv("superstore_orders.csv")

conn = sqlite3.connect(":memory:") 
df.to_sql("store_orders", conn, index=False, if_exists="replace") # 'store_orders' is the datatable name

# Ideally we can set up a folder/directory with all the SQL scripts to be run.

# Using only a single sample query here as SQLite can execute only 1 SQL script per execution
# Many of the date functions are not compatible in SQLite to perform complex time-series analysis.
query = """
    SELECT
        region
        ,category
        ,sub_category
        ,CONCAT('$',ROUND(SUM(sales),2)) as total_sales
        ,CONCAT('$',ROUND(SUM(profit),2)) as total_profit
    FROM store_orders
    group by 1,2;
"""

result = pd.read_sql_query(query, conn)

output_csv = "superstore_sales_by_dimensions.csv"
result.to_csv(output_csv, index=False)

print("Successful Query Execution")
print("File name -" ,output_csv)
print(result)

Successful Query Execution
File name - superstore_sales_by_dimensions.csv
     region         category sub_category total_sales total_profit
0   Central        Furniture  Furnishings  $163797.16    $-2871.05
1   Central  Office Supplies   Appliances  $167026.42     $8879.98
2   Central       Technology       Phones  $170416.31    $33697.43
3      East        Furniture       Chairs   $208291.2     $3046.17
4      East  Office Supplies      Binders  $205516.05    $41014.58
5      East       Technology  Accessories  $264973.98    $47462.04
6     South        Furniture    Bookcases  $117298.68     $6771.21
7     South  Office Supplies      Storage  $125651.31    $19986.39
8     South       Technology  Accessories  $148771.91    $19991.83
9      West        Furniture  Furnishings  $252612.74    $11504.95
10     West  Office Supplies       Labels  $220853.25    $52609.85
11     West       Technology       Phones  $251991.83    $44303.65