In [ ]:
# BASIC SET UP
# Read the data from the flat file
# Store the data to the dataframe
# Set up data connection to the SQLite database
# Set up a databse table to store the data from the
# Run the SQL script
# Output the result set to a flat file

In [1]:
import pandas as pd
import sqlite3

df = pd.read_csv("superstore_orders.csv")

conn = sqlite3.connect(":memory:") 
df.to_sql("store_orders", conn, index=False, if_exists="replace") # 'store_orders' is the datatable name

# Ideally we can set up a folder/directory with all the SQL scripts to be run.

# Using only a single sample query here as SQLite can execute only 1 SQL script per execution
# Many of the date functions are not compatible in SQLite to perform complex time-series analysis.

query = """
    SELECT
        region
        ,category
        ,sub_category
        ,CONCAT('$',ROUND(SUM(sales),2)) as total_sales
        ,CONCAT('$',ROUND(SUM(profit),2)) as total_profit
    FROM store_orders
    group by 1,2,3
    order by 1,2,3;
"""

result = pd.read_sql_query(query, conn)

output_csv = "superstore_sales_by_dimensions.csv"
result.to_csv(output_csv, index=False)

print("Successful Query Execution")
print("File name -" ,output_csv)
print(result)

Successful Query Execution
File name - superstore_sales_by_dimensions.csv
     region         category sub_category total_sales total_profit
0   Central        Furniture    Bookcases   $24157.18     $-1997.9
1   Central        Furniture       Chairs   $85230.65     $6592.72
2   Central        Furniture  Furnishings   $15254.37    $-3906.22
3   Central        Furniture       Tables   $39154.97    $-3559.65
4   Central  Office Supplies   Appliances   $23582.03    $-2638.62
..      ...              ...          ...         ...          ...
63     West  Office Supplies     Supplies   $18127.12      $626.05
64     West       Technology  Accessories   $61114.12     $16484.6
65     West       Technology      Copiers   $49749.24    $19327.24
66     West       Technology     Machines   $42444.12     $-618.93
67     West       Technology       Phones   $98684.35     $9110.74

[68 rows x 5 columns]